---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Introduction from "../content/introduction.md"
import Header from "../components/Header.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Header />
	<body>
		<main>
			<Introduction />
			<img src="https://ghchart.rshah.org/tutkuofnight" alt="https://github.com/tutkuofnight" class="github-contributions">
		</main>
		<Footer />
	</body>
</html>

<style>
	.github-contributions {
		width: 100%
	}
</style>
