---

---

<footer>
	<code class="spell">@tutkuofnight ~ 01010010</code>
	<div class="social-links">
		<a href="https://bsky.app/profile/tutku.space" target="_blank">
			<img src="/bluesky.png" alt="bsky.app/profile/tutku.space" width="26">
		</a>
		<a href="https://github.com/tutkuofnight" target="_blank">
			<img src="/github.png" alt="github.com/tutkuofnight" width="24">
		</a>
		<a href="https://www.linkedin.com/in/tutkuucan/" target="_blank">
			<img src="/linkedin.svg" alt="linkedin.com/tutkuucan" width="26">
		</a>
	</div>
</footer>

<style>
	footer {
		width: var(--screen-width);
		margin: 1em auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		height: 26px;
		gap: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: lightgray;
	}
	.social-links a:hover {
		opacity: 0.8;
	}
	.spell {
		font-size: 14px;
	}
</style>
