---
import Navigation from './Navigation.astro';
import { SITE_TITLE } from "../consts"
const { title } = Astro.props
---

<header>
	<img src="/avatar.jpg" alt="tutku" class="avatar">
	<div class="content">
		<small>{title ? SITE_TITLE : "Hello! Merhaba! こんにちは!"}</small>
		{title ? <h1>{title}</h1> : <h1>tutku here <br/> and this is my space</h1>}
		<Navigation />
	</div>
</header>
<style>
	header {
		width: 100%;
		max-width: var(--screen-width);
		margin: auto;
		padding: 3em 1em 0;
		display: flex;
		align-items: center;
		gap: 30px;
	}
	header .content h1 {
		font-size: 26px;
	}
	@media (max-width: 768px) {
		header {
			flex-direction: column;
			align-items: start;
		}
	}
</style>
